body {
  margin: 0;
  text-align: center;
  color: #40514e;
}

/* CONTAINERS */



header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}



.stars, .twinkling, .clouds {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}


.greet {
  font-family: "lucida handwriting";
  font-size: 90px;
  text-align: center;
  z-index: 1;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:0;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  
   background:transparent url(images/clouds2.png) repeat-x;
  z-index:0;
  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}





.top-container {
  position: relative;
  height: 500px;
}

.middle-container {
  background-color: #e5e5e5;
}

.bottom-container {
  margin-top: 100px;
  padding: 50px 0 20px;
  background-color: #000;
}








/* HTML ELEMENTS */

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin-top: 100px;
}

/* HEADERS */

h1 {
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  margin-top: 0;
  margin: 0 auto 0 auto;
  padding-top: 100px;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

h2 {
  color: #fca311;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2;
  padding-bottom: 10px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #14213d, 0 0 40px #14213d, 0 0 50px #14213d, 0 0 60px #14213d, 0 0 70px #14213d;
  opacity: .50
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #14213d;
}

p {
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #14213d;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6
}






/* TEXTS */

.pro {
  text-decoration: underline;
}


.profile {
  margin: 0 auto;
  width: 30%;
  line-height: 2;
}

.skill-row {
  margin: 40px auto;
  width: 50%;
  text-align: left;
}

.project-link {
  font-family: "Montserrat", sans-serif;
  color:#40514e;
  text-decoration: underline;
  font-size: 100%;
}

.footer-link {
  line-height: 2;
  padding: 0 20px;
  color: #ffffff;
}


.contact-message {
  width: 40%;
  margin: 40px auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.50rem;
  padding: 20px 0;
}

.btn {
  background: #14213d;
  background-image: -webkit-linear-gradient(top, #14213d, #000000);
  background-image: -moz-linear-gradient(top, #14213d, #000000);
  background-image: -ms-linear-gradient(top, #14213d, #000000);
  background-image: -o-linear-gradient(top, #14213d, #000000);
  background-image: linear-gradient(to bottom, #14213d, #000000);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
  background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
  background-image: -ms-linear-gradient(top, #ffffff, #e5e5e5);
  background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
  background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
  color: #000000;
  text-decoration: none;
}






/* IMAGES */

.profile-pic {
  width: 40%;
  margin-top: 50px;
  border-radius: 50%;
}

.clouds2 {
  margin-top: 200px;
}


.python {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.wd {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 20%;
}

.java {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 20%;
  
}

.star {
  opacity: .5;
}







/* Animations */




@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fca311, 0 0 40px #fca311, 0 0 50px #fca311, 0 0 60px #fca311, 0 0 70px #fca311;
    opacity: .50;
  }
  12.5% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fa7a01, 0 0 40px #fa7a01, 0 0 50px #fa7a01, 0 0 60px #fa7a01, 0 0 70px #fa7a01, 0 0 80px #fa7a01;
    opacity: .70;
  }
  25% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fca311, 0 0 40px #fca311, 0 0 50px #fca311, 0 0 60px #fca311, 0 0 70px #fca311, 0 0 80px #fca311;
    opacity: .50;
  }
  37.5% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fa7a01, 0 0 40px #fa7a01, 0 0 50px #fa7a01, 0 0 60px #fa7a01, 0 0 70px #fa7a01, 0 0 80px #fa7a01;
    opacity: .70;
  }
  50%{
    text-shadow: 0 0 20px #fff, 0 0 30px #fca311, 0 0 40px #fca311, 0 0 50px #fca311, 0 0 60px #fca311, 0 0 70px #fca311, 0 0 80px #fca311;
    opacity: .50;
  }
  62.5% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fa7a01, 0 0 40px #fa7a01, 0 0 50px #fa7a01, 0 0 60px #fa7a01, 0 0 70px #fa7a01, 0 0 80px #fa7a01;
    opacity: .70;
  }
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fca311, 0 0 40px #fca311, 0 0 50px #fca311, 0 0 60px #fca311, 0 0 70px #fca311, 0 0 80px #fca311;
    opacity: .50;
  }
  87.5% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fa7a01, 0 0 40px #fa7a01, 0 0 50px #fa7a01, 0 0 60px #fa7a01, 0 0 70px #fa7a01, 0 0 80px #fa7a01;
    opacity: .70;
  }
  100%{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fca311, 0 0 40px #fca311, 0 0 50px #fca311, 0 0 60px #fca311, 0 0 70px #fca311;
    opacity: .50;
  }
}
