body {
  margin: 0;

}

/* CONTAINERS */

.top_container {
  background-color: #A6F0C6;
}

.middle_container {
  height: 200px;
  width: 200px;

}

.bottom_container {
  height: 200px;
  width: 200px;
}

/* HEADERS */

h1 {
  margin-top: 0;
  display: inline-block;
}


/* TEXTS */

.pro {
  text-decoration: underline;
}

.greet {
  font-family: "lucida handwriting";
}

 /* IMAGES */

.top-cloud{
  position: relative;
  left: 300px
}

.bottom-cloud{
  position: relative;
  left: 350px;
}

.mountain{
 float: center;
}
