body {
  margin: 0;
  text-align: center;
  color: #40514e;
}

/* CONTAINERS */

.top-container {
  background-color: #050505;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  margin-top: 100px;
  padding: 50px 0 20px;
  background-color: #66bfbf;
}

/* HTML ELEMENTS */

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/* HEADERS */

h1 {
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  margin-top: 0;
  margin: 0 auto 0 auto;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px gray, 0 0 40px gray, 0 0 50px gray, 0 0 60px gray, 0 0 70px gray;
  opacity: .50;
  line-height: 2;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

a {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6
}

/* TEXTS */

.pro {
  text-decoration: underline;
}

.greet {
  font-family: "lucida handwriting";
  font-size: 90px;
  text-align: center;
}

.profile {
  margin: 0 auto;
  width: 30%;
  line-height: 2;
}

.skill-row {
  margin: 40px auto;
  width: 50%;
  text-align: left;
}

.project-link {
  color: #40514e;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}

.footer-link {
  line-height: 2;
  padding: 0 20px;
}


.contact-message {
  width: 40%;
  margin: 40px auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.50rem;
  padding: 20px 0;
}

.btn {
  border: 1px #464a4f solid;
	background: linear-gradient(180deg, #a6aaad 5%, #22282e 100%);
	text-shadow: 1px 1px 1px #848c94;
	box-shadow: inset 1px 1px 2px 0px #9ca2a8;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(180deg, #22282e 5%, #a6aaad 100%);
}

/* IMAGES */

.profile-pic {
  width: 40%;
  margin-top: 50px;
  border-radius: 50%;
}

.moon {
  right: 450px;
  top: 70px;
  margin-left: 300px;
  opacity: 1;
  animation-name: moon;
  animation-duration: s;
  animation-iteration-count: infinite;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
  animation-name: top-cloud;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  opacity: .5;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
  animation-name: bottom-cloud;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  opacity: .5;
}

.mountain {
  margin: 0 auto 0 auto;
  opacity: .5;
}

.vb {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.wd {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 25%;
}

.java {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 20%;
  
}


/* Animations */

@keyframes top-cloud {
  0% {right:0; left:450px;}
  25% {right: 450px; left:0px;}
  50% {right:0; left:450px;}
  50% {right:450px; left:0;}
  100% {right:0; left:450px;}
}

@keyframes bottom-cloud {
  0% {left:450px;}
  25% {left:900px;}
  50% {left:450px;}
  50% {left:900px;}
  100% {left:450px;}
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b212b8, 0 0 40px #b212b8, 0 0 50px #b212b8, 0 0 60px #b212b8, 0 0 70px #b212b8;
    opacity: .50;
  }
  12.5% {
    text-shadow: 0 0 20px #fff, 0 0 30px indigo, 0 0 40px indigo, 0 0 50px indigo, 0 0 60px indigo, 0 0 70px indigo, 0 0 80px indigo;
    opacity: .50;
  }
  25% {
    text-shadow: 0 0 20px #fff, 0 0 30px #2b08f0, 0 0 40px #2b08f0, 0 0 50px #2b08f0, 0 0 60px #2b08f0, 0 0 70px #2b08f0, 0 0 80px #2b08f0;
    opacity: .50;
  }
  37.5% {
    text-shadow: 0 0 20px #fff, 0 0 30px #91e904, 0 0 40px #91e904, 0 0 50px #91e904, 0 0 60px #91e904, 0 0 70px #91e904, 0 0 80px #91e904;
    opacity: .50;
  }
  50%{
    text-shadow: 0 0 20px #fff, 0 0 30px #f5f108, 0 0 40px #f5f108, 0 0 50px #f5f108, 0 0 60px #f5f108, 0 0 70px #f5f108, 0 0 80px #f5f108;
    opacity: .50;
  }
  62.5% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fa7a01, 0 0 40px #fa7a01, 0 0 50px #fa7a01, 0 0 60px #fa7a01, 0 0 70px #fa7a01, 0 0 80px #fa7a01;
    opacity: .50;
  }
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px #f52415, 0 0 40px #f52415, 0 0 50px #f52415, 0 0 60px #f52415, 0 0 70px #f52415, 0 0 80px #f52415;
    opacity: .50;
  }
  87.5% {
    text-shadow: 0 0 20px #fff, 0 0 30px #f7257d, 0 0 40px #f7257d, 0 0 50px #f7257d, 0 0 60px #f7257d, 0 0 70px #f7257d, 0 0 80px #f7257d;
    opacity: .50;
  }
  100%{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b212b8, 0 0 40px #b212b8, 0 0 50px #b212b8, 0 0 60px #b212b8, 0 0 70px #b212b8;
    opacity: .50;
  }
}
